# Ignore the build directory
build/

# Ignore my Visual Studio Code settings
.vscode/

# Ignore CMake cache and temporary files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Optionally ignore other files and directories that are usually not needed
*.o
*.exe
*.dll
*.so
*.dylib
*.bin
*.out

# Ignore other common temporary files
*~
.DS_Store

# Ignore result files in the serial solver
output.txt
SerialSolver/serial